extends layout

block content
  - var first = true;
  each post in posts
    if first
      - first = false;
    else
      hr

    article
      header
        h2.title= post.title
        h3.subtitle written on #{post.dateShort()} by #{post.author}
      .content
        div(id="post-" + post.id)!= post.content